# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# for now: don't commit zoom 10 and 11 of the postcode tiles
# (let's see whether we need them)
/news/tiles/postcodes/10
/news/tiles/postcodes/11
/out